.sidebar, .locationTab{
    height: 100%;
    width: 459px;
    background: #1E213A;
    padding: 42px 46px 52px 46px;
}

.sidebar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-btn{
    padding: 11px 18px;
    border:none;
    color: #E7E7EB;
    background: #6E707A;
    font-size: 16px;
    font-weight: 500;
}

.location{
    height: 40px;
    width: 40px;
    background: #6E707A;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    
    span{
        color: #E7E7EB;
    }
}

.cloud-back{
    position: relative;
    left: -160px;
    opacity: 0.1;
}

.status{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #A09FB1;
    margin: 87px 0;
}

.date{
    display: flex;
    color: #88869D;
    width: 183px;
    font-size: 18px;
    justify-content: space-between;
}

.location-name{
    margin-top: 33px;
    font-weight: 600;
    font-size: 18px;
    color: #88869D;
    display: flex;
    align-items: center;

    span{
        margin-right: 9px;
    }
}

.day-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp{
    margin-top: 33px;
    font-size: 144px;
    color: #E7E7EB;;

    span{
        font-size: 48px;
        color: #A09FB1;
    }
}

.image{
    height: 376px;
}

.statusImage{
    position: relative;
    top: -300px;
    left: 75px;
}